---
import Layout from "@layouts/2010Layout.astro";
import { getEventsData, getStreakClass, getStreakLabel } from "@utils/getChumps";
export async function getStaticPaths() {

  const eventaData = await getEventsData();
  return eventaData.map((event: { slug: string }) => ({
    params: { event: event.slug },
  }));
}

const { event } = Astro.params;
const eventData = await getEventsData();
const outEvent = eventData.find((e) => e.slug === event);

// event_index
const event_index = eventData.findIndex((e) => e.slug === event);
const prevEvent = eventData[event_index - 1] || null;
const nextEvent = eventData[event_index + 1] || null;

const mainImage = outEvent?.media.find((m) => m.ismain);
const otherImages = outEvent?.media.filter((m) => !m.ismain);
---

<Layout>
  <div class="section section-width">
    <h1>{outEvent?.title}</h1>
    <p>Date: {outEvent?.date.toDateString()}</p>
    <!-- streak information -->
    {outEvent?.days_since_last_chump !== undefined && (
      <div 
        class={getStreakClass(outEvent?.streak_rank)}
        data-streak={outEvent?.days_since_last_chump}
      >
        {getStreakLabel(outEvent?.days_since_last_chump, outEvent?.streak_rank)}
      </div>
    )}

      

    <p>Thanks: {outEvent?.thanks}</p>



    <div>
        <div>
          <a href={mainImage?.image} target="_blank" rel="noopener noreferrer">
            <img src={mainImage?.image} alt={outEvent?.title} width="200" />
          </a>
          <p>{mainImage?.caption}</p>
        </div>
    </div>
    <!-- Gallery -->
     <div style="margin-top: 2rem;">
      <h2>Gallery</h2>
      <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
        {otherImages && otherImages.length > 0 ? (
          otherImages.map((media) => (
            <div>
              <a href={media.image} target="_blank" rel="noopener noreferrer">
                <img src={media.image} alt={outEvent?.title} width="150" />
              </a>
              <p>{media.caption}</p>
            </div>
          ))
        ) : (
          <p>No additional images.</p>
        )}
      </div>
    </div>

        <!-- previous and next chump using flex divs -->
    <div style="display: flex; justify-content: space-between; margin-top: 2rem; border-top: 1px solid #ccc; padding-top: 1rem;">
      {prevEvent ? (
        <a href={`/events/${prevEvent.slug}`}>&larr; {prevEvent.title}</a>
      ) : (
        <div></div>
      )}
      {nextEvent ? (
        <a style="border-left: 1px solid #ccc; padding-left: 1rem; justify-self: right;"
        href={`/events/${nextEvent.slug}`}>{nextEvent.title} &rarr;</a>
      ) : (
        <div></div>
      )} 
    </div>

    <!-- return to chumps -->
     <div style="margin-top: 1rem;">
      <a href="/events">Back to Events</a>
    

    <!-- <pre>
    {JSON.stringify(outEvent, null, 2)}
    </pre> -->
    </div>
</Layout>